* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-size: 20px;
}
body nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 7;
}
body nav section.left {
  margin: 0.5rem 1rem;
}
body nav section.right {
  margin: 0.5rem 1rem;
}
body nav section.right ul {
  display: flex;
}
body nav section.right ul li {
  list-style: none;
}
body nav section.right ul li a {
  margin: 0rem 1rem;
  text-decoration: none;
  color: black;
}
body nav section.hamburger-icon {
  display: none;
  justify-content: right;
  margin: 0.5rem 1rem;
  cursor: pointer;
}
body nav section.hamburger-menu {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 40%;
  background-color: rgb(255, 255, 255);
  z-index: 99;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
}
body nav section.hamburger-menu i {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 1.25rem;
  font-size: 17px;
  cursor: pointer;
}
body nav section.hamburger-menu ul {
  margin: 4rem 0rem;
}
body nav section.hamburger-menu ul li {
  list-style: none;
}
body nav section.hamburger-menu ul li a {
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  text-align: center;
  color: black;
}
body header {
  height: 250px;
  text-align: center;
  background-color: rgb(217, 233, 237);
}
body header h3 {
  font-size: 2em;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
body main {
  width: 1200px;
  margin-inline: auto;
}
body main section.promo-section {
  display: flex;
  margin-top: 10px;
}
body main section.promo-section div.promo {
  display: flex;
  flex-basis: 380px;
  background-color: rgb(217, 233, 237);
  margin: 10px;
}
body main section.promo-section div.promo img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 50px;
  width: 80px;
}
body main section.promo-section div.promo p {
  margin-left: 1rem;
  margin-block: auto;
}
body main section.spot-section {
  display: flex;
  flex-wrap: wrap;
}
body main section.spot-section div.spot {
  height: 190px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}
body main section.spot-section div.spot p {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 0.25rem;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
body main section.spot-section div.spot i {
  margin: 0.5rem;
  color: rgba(255, 234, 128, 0.6);
  cursor: pointer;
}
body main section.spot-section div.spot {
  flex-basis: 180px;
}

body main section.spot-section div.wide-block {
  flex-basis: 380px;
}

body button.button {
  height: 48px;
  margin: 1rem 0rem;
  padding: 2px 24px;
  border-radius: 24px;
  border-style: none;
  color: #3c4043;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  cursor: pointer;
  transition: all 3s esae;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
body button.button:hover {
  background: #f6f9fe;
  color: #174ea6;
}

@media (max-width: 1200px) {
  body nav section.hamburger-icon {
    display: none;
  }
  body nav section.hamburger-menu {
    display: none;
  }
  body main {
    width: 90%;
  }
  body main section.promo-section {
    flex-wrap: wrap;
  }
  body main section.promo-section div.promo {
    flex: 1 1 240px;
  }
  body main section.promo-section div.promo3 {
    flex: 1 1 600px;
  }
  body main section.spot-section div.spot {
    flex: 1 1 20%;
    background-position: center;
  }
  body main section.spot-section div.spot9,
  body main section.spot-section div.spot10 {
    flex: 1 1 45%;
  }
}
@media (max-width: 600px) {
  body nav section.right {
    display: none;
  }
  body nav section.hamburger-icon {
    display: block;
  }
  body main section.promo-section div.promo {
    flex: 1 1 100%;
  }
  body main section.spot-section div.spot {
    flex: 1 1 100%;
  }
}
