<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>square</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style2.css') }}" />
  </head>
  <body>
    <h3>正整數平方計算結果</h3>
    <p id="square">{{square}}</p>
    <!-- <script>
      const params = new URLSearchParams(window.location.search);
      const number = params.get("number");
      let square = number * number;
      console.log(square);
      document.getElementById("square").innerText = square;
    </script> -->
  </body>
</html>
